:root {
  --background-color: rgb(255, 255, 255);
  --border-color: rgb(0, 0, 0);
}

h1, h2, h3, a, p, span {
  font-family: "Nunito", Helvetica;
  font-weight: 400;
  color: rgb(0, 0, 0);
  margin: 0px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0px;
}

header {
  display: flex;
  width: 100%;
  border-bottom: 3px solid var(--border-color);
}

header .nav-section {
  padding: 2rem 2rem;
  display: flex;
  gap: 2rem;
  border-left: 3px solid var(--border-color);
  align-items: center;
  justify-content: center;
}

header #header-button-section {
  border-left: none
}

header #header-button-section button{
  background-color: #e13030;
  border: 1px solid;
  border-radius: 22px;
  padding: 13px 24px;
  font-weight: 500;
}

#header-logo-section, #header-button-section {
  flex-basis: calc(100% / 7); /* elements to be one-tenth of the container width. */
  justify-content: flex;
}

#header-nav-section {
  flex-grow: 1;
}

main {
  flex-grow: 1;
}

main > article {
  display: grid;
  height: 100%;
}

#article-1 {
  grid-template-columns: 2fr 1fr;
}

#article-2 {
  grid-template-columns: 2fr 2fr;
}

#images > #image-1 {
  height: 253px;
  left: 109px;
  object-fit: cover;
  position: absolute;
  top: 9px;
  width: 256px;
}

#images > #image-2 {
  height: 253px;
  left: 153px;
  object-fit: cover;
  position: absolute;
  top: 92px;
  width: 256px;
}

#images > #image-3 {
  height: 253px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 256px;
}

#images > #image-4 {
  height: 253px;
  left: 32px;
  object-fit: cover;
  position: absolute;
  top: 126px;
  width: 256px;
}

article {
  justify-content: center;
  margin-bottom: 5%
}

#article-1 #content-1 > p{
  font-size: 40px;
  font-weight: 400;
  width:95%;
  padding: 5rem 2rem;
}

#scroll > p {
  font-size: 40px;
  font-weight: 400;
  padding: 1rem 2rem;
}

#scroll > img {
  height: 74px;
  width: 15px;
}

#article-2 #content-2 > p{
  font-size: 24px;
  font-weight: 400;
  width:100%;
  padding: 1rem 2rem;
  line-height: normal;
}

#scroll {
  display: flex;
}

.cool-box {
  border: 2px solid;
  border-radius: 370px;
  box-shadow: 0px 20px 0px;
  display:grid;
  justify-items:center;
  width:75em;
}

.cool-box > img {
  margin-top: 2%;
  height: 119px;
  object-fit: cover;
}

.cool-box > h1 {
  font-size: 64px;
  font-weight: 600;
  margin-bottom: 2%;
}

.cool-box > p {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 2%;
}

.cool-box button {
  font-size: 24px;
  color: aliceblue;
  background-color: #e13030;
  border-radius: 34px;
  cursor: pointer;
  margin-bottom: 2%;
  padding: 24px 82px;
}

#cool-box-1 {
  background-color: #ffcf26;
  border-radius: 370px;
  transform: rotate(-4.85deg);
}

#cool-box-2 {
  background-color: #ffffff;
  border-radius: 370px;
  transform: rotate(2.85deg);
}

#cool-box-3 {
  background-color: #376fff;
  border-radius: 370px;
  transform: rotate(-4.15deg);
}

#article-6 {
  border: 2px solid;
  box-shadow: 0px 50px 0px;
  display:grid;
  justify-items:center;
  width:100em;
}

#article-6 > img {
  margin-top: 2%;
  height: 119px;
  object-fit: cover;
}

#article-6 > h1 {
  font-size: 64px;
  font-weight: 600;
  margin-bottom: 2%;
}

#article-6  p {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 2%;
}

#article-6 button {
  font-size: 24px;
  color: aliceblue;
  background-color: #e13030;
  border-radius: 34px;
  cursor: pointer;
  margin-bottom: 2%;
  padding: 24px 82px;
}