:root {
  --background-color: rgb(252, 236, 236);
  --border-color: rgb(0, 0, 0);
}

h1, h2, h3, a, p, span {
  font-family: "Nunito", Helvetica;
  font-weight: 400;
  color: rgb(0, 0, 0);
  margin: 0px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0px;
  overflow: hidden;
}

header {
  display: flex;
  width: 100%;
  border-bottom: 3px solid var(--border-color);
}

header .nav-section {
  padding: 2.5rem 2rem;
  display: flex;
  gap: 2rem;
  border-left: 3px solid var(--border-color);
  align-items: center;
  justify-content: center;
}

header #header-button-section {
  border-left: none
}

#header-logo-section, #header-button-section {
  flex-basis: calc(100% / 7); /* elements to be one-tenth of the container width. */
  justify-content: flex;
}

#header-nav-section {
  flex-grow: 1;
}