:root {
  --background-color: rgb(255, 255, 255);
  --border-color: rgb(0, 0, 0);
}

h1, h2, h3, a, p, span {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 400;
  color: rgb(0, 0, 0);
  margin: 0px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

header {
  justify-content: space-between;  
}

#header-nav-section {
  background-color: var(--background-color);
  font-size: 1.5rem;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  position: fixed;
  transform: translateY(-100%); /* Change*/
}