#event-article-1 {
    background-color: #ffcf26;
    justify-items: center;
}

#resource-article-1 {
    background-color: #376fff;
    justify-items: center;
}

#community-article-1 {
    background-color: black;
    justify-items: center;
}

#community-article-2 {
    justify-items: center;
}

#community-article-2 h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 48px;
}

#community-article-2 p{
    font-family: 'Courier New', Courier, monospace;
}

#community-article-1 h1,
#community-article-1 p,
#resource-article-1 h1,
#resource-article-1 p {
  color: white;
}



#event-article-1 h1,
#community-article-1 h1,
#resource-article-1 h1 {
  font-weight: 600;
  font-size: 48px;
  margin-top: 10%;
  margin-bottom: 5%;
}


#event-article-1 p, #community-article-1 p, #resource-article-1  p {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 15%
}

#event-article-2 {
    display: flex;
    justify-content: space-around;
}

#event-article-2 .square-box {
    border: 2px solid;
    border-radius: 26px;
    border-color: black;
    box-shadow: 12px 4px 0px;
    height: 200px;
    width: 300px;
    display: grid;
}

#details {
    display: flex;
    justify-content: space-around;
    font-size: 16px;
}

#event-article-2 p {
    margin-top: 10%;
    margin-left: 10%;
    font-size: 28px;
}

#event-article-4 button{
    background-color: #ffcf26;
    color: black;
}


.dropdown-container {
    display: flex;
    justify-content: space-between;
}
  
.dropdown {
    margin-right: 10px;
}
  
select {
    padding: 8px;
    border-radius: 4px;
    border: none;
    background-color: #f1f1f1;
    font-size: 16px;
    color: #555;
}

#resource-article-2 {
    background-color: white;
    border: 2px solid;
    border-color: black;
    border-radius: 20px;
    box-shadow: 9px 8px 0px;
    height: 140px;
    margin-top: -8%;
    margin-left: 20%;
    margin-right: 20%;
    align-items: center;
}